body {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  background-color: blanchedalmond;
}

header {
  width: 100%;
}

header h1 {
  font-family: "Leckerli One", cursive;
  font-size: 300%;
  text-align: center;
}

header h3 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: lighter;
}

.header__titulos {
  line-height: 13px;
  margin-bottom: 90px;
}

header > nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px;
  margin-bottom: 80px;
}

.nav__lista--container {
  max-width: 360px;
  min-width: 300px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

nav li {
  list-style: none;
}

li > a {
  text-decoration: none;
  color: crimson;
  font-weight: bold;
}

li > a:hover {
  font-weight: lighter;
}

.main__textoDescritivo--container {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding-top: 18px;
  border: 3px solid greenyellow;
  box-shadow: 2px 3px 5px 5px gray;
  background-color: whitesmoke;
}

.main__textoDescritivo {
  max-width: 800px;
  text-align: justify;
  font-size: 18px;
  line-height: 30px;
}

main img {
  max-width: 250px;
  min-width: 180px;
  padding: 15px;
}

img + p {
  color: grey;
  font-weight: bold;
  margin-top: -4px;
}

.main__trioSuculentas--container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px;
}

.main__trioSuculentas--container>div {
 text-align: center;
}

main>section{
    margin-top: 70px;
}


